@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Rubik",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menuSwiper {
  height: 70vh;
}

.testimonialSwiperVer2 {
  height: 0;
  width: 0;
}

.testimonialSwiper {
  width: 40vh;
}

@media only screen and (min-width: 600px) {
  .menuSwiper {
    height: 80vh;
  }

  .testimonialSwiperVer2 {
    height: 0;
    width: 0;
  }
  .testimonialSwiper {
    width: 70vh;
  }
}

@media only screen and (min-width: 768px) {
  .testimonialSwiper {
    height: 0vh;
  }

  .testimonialSwiperVer2 {
    height: 100%;
    width: 100%;
  }
  .menuSwiper {
    height: 0vh;
  }
}
